<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration Form</title>
</head>
<body>

<h1> This is registration page </h1>
<p> Please fill out this form </p>

<form method="post" action="/formPost">
First Name: <input type="text" name="firstName"/></br>
Last Name: <input type="text" name="lastName"/></br>
Email: <input type="email" name="email"/></br>
Student Number: <input type="number" name="studentNumber"/></br>
Birthday: <input type="date" name="birthday"/></br>
<input type="submit" value="Submit">
</form>

</body>
</html>