<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reserve a Book</title>
</head>
<body>
    <h2>Book Reservation Form</h2>

    <form th:action="@{/submitReservation}" method="post" th:object="${reservation}">
        First Name: <input type="text" th:field="*{firstName}" required/><br><br>
        Last Name: <input type="text" th:field="*{lastName}" required/><br><br>
        Email: <input type="email" th:field="*{email}" required/><br><br>
        Book Title: <input type="text" th:field="*{bookTitle}" required/><br><br>

        Genre:
        <select th:field="*{genre}">
            <option value="Fiction">Fiction</option>
            <option value="Non-fiction">Non-fiction</option>
            <option value="Mystery">Mystery</option>
            <option value="Sci-Fi">Sci-Fi</option>
        </select><br><br>

        Pickup Location:<br>
        <input type="radio" th:field="*{pickupLocation}" value="Central Branch"/> Central Branch<br>
        <input type="radio" th:field="*{pickupLocation}" value="North Branch"/> North Branch<br><br>

        <input type="submit" value="Submit Reservation"/>
    </form>
</body>
</html>
