<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Form</title>
</head>
<body>
    <h2>Enter Course Info</h2>

    <form th:action="@{/processForm}" method="post">
        <label>ID:</label><br>
        <input type="number" name="id" required><br><br>

        <label>Prefix:</label><br>
        <input type="text" name="prefix" required><br><br>

        <label>Code:</label><br>
        <input type="number" name="code" required><br><br>

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
